.teamSection{ 
     border-top: 1px solid var(--dark-outline-variant);
  border-bottom: 1px solid var(--dark-outline-variant);
  padding-top: 80px;
  padding-bottom: 80px;
  background: var(--dark-surface-container-low); 
  @media (max-width: 1120px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .titleWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @media (max-width: 1120px) {
      grid-template-columns: 1fr;
      gap: 16px;
    }
    align-items: center;
  
  }
  .teamMembersWrapper {
    padding: 80px 0;
    @media (max-width: 1120px) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .teamMembers {
      display: flex;
flex-wrap: wrap; 
      gap: 24px;
      justify-content: center;
      @media (max-width: 1120px) {
        grid-template-columns: 1fr 1fr;
      }
      @media (max-width: 600px) {
        grid-template-columns: 1fr;
      }
      .teamMember {
        width: calc(33% - 24px);
        border: 1px solid var(--dark-outline-variant);
        background: var(--dark-surface-container-high);
        border-radius: 12px;
        overflow: hidden !important;
    @media(max-width: 950px){ 
              width: calc(50% - 24px);

    }
        @media(max-width: 600px){ 
              width: 100%;

    }
        .teamMemberImage {
          position: relative;
          padding-bottom: 100%;
          overflow: hidden !important;

          image {
            border-radius: 12px;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.5s ease;
            object-position: center;
            &:hover {
              transform: scale(1.1);
            }
          }
        }
        .teamMemberInfo {
          padding: 16px;
          .teamMemberLocation {
            margin-top: 8px;
            display: flex;
            align-items: center;
            gap: 8px;
            svg {
              circle {
                fill: var(--dark-secondary);
              }
              path {
                fill: var(--dark-on-secondary);
              }
            }
          }
        }
      }
    }
  }
}