.section { 
 
    padding: 80px 0;
    overflow: hidden !important;
      margin-top: 16px; 
   margin-bottom: 16px; 
   background: var(--dark-surface-container-lowest); 
    @media (max-width: 900px) {
      padding: 32px 0;
    }

    .wrapper{   
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    gap: 80px; 
        align-items: center;
        @media (max-width: 1100px) {
          grid-template-columns: 1fr;
          gap: 16px;
          display: flex;
          flex-direction: column;
        }
        .contentWrapper{ 
            @media (min-width: 1100px) {
             
                grid-row: 1 / 2;

               
              }
        }
        .imageWrapper, .imageContainer{ 
            border-radius: 12px;
            overflow: hidden;
            @media (min-width: 1100px) {
              grid-row: 1 / 2;
            }
        }
    }
}