.section { 
      background: var(--light-surface-container-low); 

    padding: 40px 0;
    @media (max-width: 900px) {
      padding: 16px 0;
    }
  .container{ 
    background: var(--light-surface-container-lowest); 
        padding: 80px 40px;
border-radius: 24px;
@media(max-width: 1150px) { 
          padding: 40px 16px;

}
    .titleRow {
        max-width: 900px; 
        margin: 0 auto; 
      }
  }
}

.cards {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    @media (max-width: 900px) {
      display: flex;
      gap: 32px;
      flex-direction: column;
    }
  }

//   scrollable tabs 
.scrollableTabsContainer{ 
    .tabs-wrapper {
        max-width: 1000px;
        margin: 0 auto;
        
      }
      .tab-content-wrapper {
        padding-top: 40px;
        display: grid;
        grid-template-columns: 1fr 450px;
        gap: 40px;
        align-items: start;
        @media (max-width: 1100px) {
          grid-template-columns: 1fr;
          gap: 24px;
        }
        .content-wrapper {
          @media (min-width: 1100px) {
            position: sticky;
            top: 100px;
          }
    
          .title {
          }
          .description {
            color: var(--dark-on-surface-variant);
          }
        }
      }
      .description {
        strong {
          color: var(--dark-secondary, #f8f770);
          letter-spacing: 0.1rem;
        }
      }
      .image-container {
        overflow: hidden;
        border-radius: 8px;
      }
}

//  Tabs Scrollable 
.tabsScrollableContainer {
    .tabs-wrapper {
    max-width: 1000px;
    margin: 0 auto;
    .MuiTabs-flexContainer {
    }
    svg {
      path {
        fill: var(--dark-on-surface);
      }
    }
    button {
      border-bottom: 1px solid var(--dark-on-surface);
    }
  }
  .cards-wrapper {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr 1fr;
    @media (max-width: 1100px) {
      gap: 16px;

      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 650px) {
      grid-template-columns: 1fr;
    }
    .card {
      border-radius: 8px;
      overflow: hidden;
      background: var(--light-surface-container);
      border: 1px solid var(--light-outline-variant);
      .content-wrapper {
        padding: 16px;
      }
    }
  }}

//    Selector Tabs 
.selectorTabsContainer { 
    background: var(--light-surface-container-lowest);

  padding: 80px 0;
  @media (max-width: 900px) {
    padding: 40px 0;
  }

  .title-row {
    max-width: 1000px;
    margin: 0 auto;
    .title {
    }
    .subtitle {
    }
    .description {
      margin-top: 16px;
    }
  }
  .cards {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
    @media (max-width: 900px) {
      display: flex;
      gap: 32px;
      flex-direction: column;
    }
  }
}