.section{ 
      background: var(--light-surface-container-low);
  padding: 120px 0 160px 0;
  @media (max-width: 600px) {
    padding: 80px 0 24px 0;
  }
  .container {
    background: var(--light-surface-container-low);
    gap: 16px;
    align-items: start;

    .formContainer {
      background: var(--light-surface-container);
border: 1px solid var(--light-outline-variant); 
      //remove the top border radius
      border-radius: 0 0 8px 8px;
      border-top: none; 
    }
 
  }
}