.section { 
    padding: 16px 0;
  background: var(--light-surface-container-lowest); 

  .content {
    strong {
      color: var(--light-on-surface);
    }
    h2, h2 strong {
      font-size: 2rem;
      margin-bottom: 8px;
      margin-top: 32px;
      color: var(--light-on-surface); 
    }
  }
}