.section{ 
   background: var(--dark-surface-container-lowest);
  .container {
    position: relative;
    .row {
      position: absolute;
      z-index: 10;
      top: 30%;
      left: 50%;
      @media (max-width: 350px) {
        top: 40%;
      }
      transform: translate(-50%, -50%);
    }
    .contentWrapper {
      max-width: 900px;
      margin: 0 auto;
      .subtitle {
        @media (max-width: 600px) {
          font-size: 1.5rem;
        }
      }
      .title {
        margin: 16px 0;
        @media (max-width: 450px) {
          font-size: 1.8rem;
        }
      }
      .buttonWrapper {
        margin-top: 24px;
        display: flex;
        justify-content: center;
      }
    }
    .imageWrapper {
      /* background: radial-gradient(
        50% 50% at 50% 50%,
        #4f33ff 0%,
        rgba(79, 51, 255, 0) 50%
      ); */
      padding-bottom: 56.25%;

      width: 100%;

      position: relative;
      @media (max-width: 800px) {
        padding-bottom: 125%;
      }
      img {
        object-fit: cover;
      }
    }
  }
}