.section{ 
     @media (max-width: 1100px) {
    padding: 16px;
    width: 100%;
  }
  @media (min-width: 1100px) {
    max-height: 80vh;
    overflow: auto;
    position: sticky;
    padding: 24px;
    top: 100px;
  }

  .parentListm .subItems {
    padding: 0 !important;
  }
  .parentList {
    margin-top: 8px;

    & > .li {
      .link {
        
        padding: 4px 0;
        display: block;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.5rem;
        color: var(--light-on-surface-variant);
        
        &:hover {
          color: var(--light-primary);
        }
      }
    }
    .subItems {
      margin-left: 16px;
        li{ 
            a{ 
                color: var(--light-on-surface-variant); 
                                padding: 4px 0 ; 
display: inline-block;
            }
        }
    }
  }
}