.section{ 
     cursor: pointer;
  position: relative;
  z-index: 1;
  width: 100%;
  grid-column: span 1;
  @media (max-width: 1020px) {
    grid-column: span 2;
  }
  .bulb {
    position: absolute;
    z-index: -2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 12px;
    width: 0%;
    height: 0%;
    background: radial-gradient(
      circle,
      rgba(85, 24, 167, 1) 0%,
      rgba(139, 49, 198, 1) 100%
    ); // Apply gradient here
    opacity: 0; // Start with hidden gradient
    transition: opacity 0.2s ease-in-out; // Smooth transition for opacity Smooth transition for opacity
  }
  .wrapper {
    border-radius: 12px;
    border: 1px solid var(--dark-outline-variant);
  background: var(--dark-surface-container-low); 
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    .contentWrapper {
      padding: 40px 32px;
      @media (max-width: 600px) {
        padding: 32px 16px 16px 16px;
      }
      .description {
        margin: 16px 0 0 0;
        p {
          margin-bottom: 24px;
          strong {
            font-weight: 500;
            color: var(--dark-secondary);
          }
        }
      }
      .cta {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
    .imageWrapper {
      position: relative;
      margin-top: 24px;
      width: 100%;
      @media (max-width: 600px) {
        margin-top: 8px;
      }
     
    }
  }
}