.footerSection { 
  background: var(--light-surface-container-high);
margin-top: -1px;
    .footerWrapper {
      padding: 40px 0;
        display: grid;
        gap: 40px;
        justify-content: center;
        grid-template-columns: 400px 400px ;

        @media (max-width: 1366px) {
          gap: 24px;
        }
     
        @media (max-width: 1000px) {
          gap: 32px;
          grid-template-columns: 250px 1fr 1fr;
        }
        @media (max-width: 900px) {
          padding: 32px 0;
        }
        @media (max-width: 800px) {
          gap: 32px;
          grid-template-columns: 1fr 1fr;
        }
        @media (max-width: 500px) {
          gap: 24px;
          grid-template-columns: 1fr;
        }
        .linksContainer {
          .menuList {
            list-style: none !important;
            .link {
              display: block;
              margin: 0;
              padding: 6px 0;
              &:hover {
                color: var(--light-secondary);
              }
            }
          }
        }

        .certificationsLogos{ 
          grid-template-columns: 1fr 1fr 1fr;
          @media(max-width:600px){ 
                      grid-template-columns: 1fr 1fr 1fr 1fr;

          }
        }
  .contactWrapper {
    /* @media (max-width: 900px) {
      grid-column: span 2;
    } */

    .socialWrapper {
      margin-top: 24px;
      .social-links {
        .link {
          margin: 0 8px 0 0;
          &:hover {
            svg {
              path {
                fill: var(--light-secondary);
              }
            }
          }
        }
      }
    }
  }
      }
}

.contactInfoWrapper{ 
   .flex{ }
}
.contactContainer{ 

}

.copyrightWrapper{ 
  background: var(--light-surface-container-highest); 
  border-top: 1px solid var(--light-outline-variant); 
  .webduelLabel{ 
    color: var(--light-primary); 
    text-decoration: underline;
    .duel{ 
      font-weight: 700;
    }
  }
}

.fabPhone{ 

  position: fixed !important; 
  bottom: 80px !important; /* Adjust vertical position */
  right: 8px;
  width: 60px !important; 
  height: 60px !important; 
  background-image: linear-gradient(92.06deg, rgb(94, 106, 184) 42.78%, rgb(43, 122, 191) 100%);
  @media(min-width: 900px) {
    display: none !important;
  }
}