.section{ 
      scroll-margin-top: 60px;
padding-top: 80px; 
padding-bottom: 80px;
background-color: var(--light-surface-container-low);

.gridWrapper{ 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
  
    @media(max-width: 400px){ 
    }
}
}