.section { 
    padding-top: 40px; 
  padding-bottom: 40px;
  background: var(--dark-surface-container-lowest);
  .cardsWrapper {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
    @media (max-width: 1020px) {
      grid-template-columns: repeat(1, 1fr);
      padding: 8px !important;
    }
  }
}