:root {
  /* Color styles */
  --material-theme--white: rgba(255, 255, 255, 1);
  --material-theme--black: rgba(0, 0, 0, 1);
  --light-primary:#08218d;
  --light-on-primary: rgba(255, 255, 255, 1);
  --light-primary-container: rgba(227, 223, 255, 1);
  --light-on-primary-container: rgba(19, 0, 103, 1);
  --light-primary-fixed: rgba(227, 223, 255, 1);
  --light-on-primary-fixed: rgba(19, 0, 103, 1);
  --light-primary-fixed-dim: rgba(197, 192, 255, 1);
  --light-on-primary-fixed-variant: rgba(54, 0, 226, 1);
  --light-secondary: rgba(98, 98, 0, 1);
  --light-on-secondary: rgba(255, 255, 255, 1);
  --light-secondary-container: rgba(233, 233, 99, 1);
  --light-on-secondary-container: rgba(29, 29, 0, 1);
  --light-secondary-fixed: rgba(233, 233, 99, 1);
  --light-on-secondary-fixed: rgba(29, 29, 0, 1);
  --light-secondary-fixed-dim: rgba(205, 204, 74, 1);
  --light-on-secondary-fixed-variant: rgba(74, 73, 0, 1);
  --light-tertiary: rgba(0, 110, 38, 1);
  --light-on-tertiary: rgba(255, 255, 255, 1);
  --light-tertiary-container: rgba(144, 250, 151, 1);
  --light-on-tertiary-container: rgba(0, 33, 6, 1);
  --light-tertiary-fixed: rgba(144, 250, 151, 1);
  --light-on-tertiary-fixed: rgba(0, 33, 6, 1);
  --light-tertiary-fixed-dim: rgba(116, 221, 126, 1);
  --light-on-tertiary-fixed-variant: rgba(0, 83, 27, 1);
  --light-error: rgba(186, 26, 26, 1);
  --light-on-error: rgba(255, 255, 255, 1);
  --light-error-container: rgba(255, 218, 214, 1);
  --light-on-error-container: rgba(65, 0, 2, 1);
  --light-outline: rgba(120, 118, 128, 1);
  --light-background: rgba(255, 251, 255, 1);
  --light-on-background: rgba(28, 27, 31, 1);
  --light-surface: rgba(252, 248, 253, 1);
  --light-on-surface: rgba(28, 27, 31, 1);
  --light-surface-variant: rgba(229, 225, 236, 1);
  --light-on-surface-variant: rgba(71, 70, 79, 1);
  --light-inverse-surface: rgba(49, 48, 52, 1);
  --light-inverse-on-surface: rgba(244, 239, 244, 1);
  --light-inverse-primary: rgba(197, 192, 255, 1);
  --light-shadow: rgba(0, 0, 0, 1);
  --light-surface-tint: rgba(79, 51, 255, 1);
  --light-outline-variant: #C8C5D0;
  --light-scrim: rgba(0, 0, 0, 1);
  --light-surface-container-highest: #E8E7EF;
  --light-surface-container-high: #EDEBF4;
  --light-surface-container: #F1EFFB;
  --light-surface-container-low: #F8F6FE;
  --light-surface-container-lowest: rgba(255, 255, 255, 1);
  --light-surface-bright: rgba(252, 248, 253, 1);
  --light-surface-dim: rgba(221, 217, 221, 1);


  --dark-primary: rgba(197, 192, 255, 1);
  --dark-on-primary: rgba(36, 0, 162, 1);
  --dark-primary-container: rgba(54, 0, 226, 1);
  --dark-on-primary-container: rgba(227, 223, 255, 1);
  --dark-primary-fixed: rgba(227, 223, 255, 1);
  --dark-on-primary-fixed: rgba(19, 0, 103, 1);
  --dark-primary-fixed-dim: rgba(197, 192, 255, 1);
  --dark-on-primary-fixed-variant: rgba(54, 0, 226, 1);
  --dark-secondary: #f8f770;
  --dark-on-secondary: rgba(50, 50, 0, 1);
  --dark-secondary-container: rgba(74, 73, 0, 1);
  --dark-on-secondary-container: rgba(233, 233, 99, 1);
  --dark-secondary-fixed: rgba(233, 233, 99, 1);
  --dark-on-secondary-fixed: rgba(29, 29, 0, 1);
  --dark-secondary-fixed-dim: rgba(205, 204, 74, 1);
  --dark-on-secondary-fixed-variant: rgba(74, 73, 0, 1);
  --dark-tertiary: rgba(116, 221, 126, 1);
  --dark-on-tertiary: rgba(0, 57, 16, 1);
  --dark-tertiary-container: rgba(0, 83, 27, 1);
  --dark-on-tertiary-container: rgba(144, 250, 151, 1);
  --dark-tertiary-fixed: rgba(144, 250, 151, 1);
  --dark-on-tertiary-fixed: rgba(0, 33, 6, 1);
  --dark-tertiary-fixed-dim: rgba(116, 221, 126, 1);
  --dark-on-tertiary-fixed-variant: rgba(0, 83, 27, 1);
  --dark-error: rgba(255, 180, 171, 1);
  --dark-on-error: rgba(105, 0, 5, 1);
  --dark-error-container: rgba(147, 0, 10, 1);
  --dark-on-error-container: rgba(255, 218, 214, 1);
  --dark-outline: rgba(146, 143, 153, 1);
  --dark-background: rgba(28, 27, 31, 1);
  --dark-on-background: rgba(229, 225, 230, 1);
  --dark-surface: rgba(19, 19, 22, 1);
  --dark-on-surface: rgb(255, 255, 255);
  --dark-surface-variant: #E5E1E9;
  --dark-on-surface-variant: rgba(200, 197, 208, 1);
  --dark-inverse-surface: rgba(229, 225, 230, 1);
  --dark-inverse-on-surface: rgba(28, 27, 31, 1);
  --dark-inverse-primary: rgba(79, 51, 255, 1);
  --dark-shadow: rgba(0, 0, 0, 1);
  --dark-surface-tint: rgba(197, 192, 255, 1);
  --dark-outline-variant: rgba(71, 70, 79, 1);
  --dark-scrim: rgba(0, 0, 0, 1);
  --dark-surface-container-highest: #35343A;
  --dark-surface-container-high: #2A292F;
  --dark-surface-container: #201F25;
  --dark-surface-container-low: #1C1B20;
  --dark-surface-container-lowest: #0E0E13;
  --dark-surface-bright: rgba(58, 57, 60, 1);
  --dark-surface-dim: rgba(19, 19, 22, 1);

}
