.section { 
      border-top: 1px solid var(--dark-outline-variant);
  border-bottom: 1px solid var(--dark-outline-variant);
  padding: 180px 0 40px 0;
  background: var(--black);
  @media (max-width: 1020px) {
    padding: 80px 0 40px 0;
  }
  .titleWrapper {
    max-width: 800px;
    margin: 0 auto 0 0;
  
  }
  .cards-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @media (max-width: 1300px) {
      gap: 16px;
    }
    @media (max-width: 950px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: 600px) {
      grid-template-columns: 1fr;
    }
    gap: 32px;
    margin-top: 40px;
  }}

.cardsSection { 
  padding: 80px 0;
  background: var(--dark-surface-container-lowest); 
  .cardsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    @media (max-width: 820px) {
      grid-template-columns: 1fr;
    }
  }
}