.section { 
     background: var(--dark-surface-container-lowest);
    padding: 80px; 
  cursor: pointer;
  position: relative;
  z-index: 1;
  width: 100%;
  grid-column: span 2;
  padding: 80px 0;

  @media (max-width: 900px) {
    padding: 40px 0;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    align-items: center;
    @media (max-width: 1080px) {
      display: block;
  
 
    }
    .contentWrapper {
   
      @media (max-width: 1080px) {
     margin-bottom: 16px; 
  
 
    }
      .cta {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

  }
}