.section{ 
     margin-top: 16px;
  @media (max-width: 600px) {
    padding: 0 ;
  }
  .tabsWrapper {
   
    button {
      border-bottom: 1px solid var(--light-outline-variant);
    }
  }
  .masonryWrapper {
    column-count: 3;
    column-gap: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    @media (max-width: 900px) {
      column-count: 2;
    }
    @media (max-width: 600px) {
      column-count: 1;
    }
  }
  .imageContainer {
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid var(--light-outline-variant);
    margin-bottom: 24px; /* Adds the row gap */
    break-inside: avoid; /* Ensures no images break in the column layout */
  }
}