.nav{ 
  font-family: var(--font-inter), Segoe UI, sans-serif;
  letter-spacing: -0.03rem;
  font-size: 1rem; 
a{ 
            color: var(--light-primary);

}
    .anchor {
        .linkText {      
            color: var(--light-primary);

          text-decoration: underline;
        }
      }
}