// styles/ServicesSection.module.scss

.section {
    padding: 80px 0;

    @media (max-width: 600px) {
      padding: 24px 0;
      min-height: auto;

    }
  
    .container {
      .titleWrapper {
        max-width: 900px;
        margin: 0 auto;
       
      }
  
      .cardsWrapper {
        // margin-top: 24px;
        // display: flex;
        // flex-wrap: wrap;
        // gap: 32px;
      
  
        // @media (max-width: 900px) {
        //   margin-top: 24px;
        //   flex-direction: column-reverse;
        // }
  
        // > div {
        //   width: calc(25% - 40px);
  
        //   @media (max-width: 1200px) {
        //     width: calc(33% - 40px);
        //   }
  
        //   @media (max-width: 900px) {
        //     width: 100%;
        //   }
        // }
  
        .section-cta {
          button {
            width: 100%;
            background: var(--dark-primary);
            color: var(--dark-on-primary);
            padding: 12px 0;
            border-radius: 50px;
            font-size: 1.1rem;
          }
        }
  
        .card {
            background-color: var(--light-surface-container-lowest);
            box-shadow: 0 0 10.9px 2px rgba(90, 246, 213, 0.30);


          .imageWrapper {
            .image{ 
                border-top-right-radius: 12px;
                border-top-left-radius: 12px;
            }
          }
  
          .contentWrapper {
            padding: 8px 16px; 
      
            .subtitle {
              margin: 0 0 8px 0;
            }
  
            .title {
            
            
            }
          

            .cta {
              margin-top: 16px;
              display: inline-block;
            }
          }
        }
      }
    }
  }
  