.section{ 
      .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    padding-top: 80px;
    padding-bottom: 40px;
    align-items: start;
    justify-content: center;
    @media (max-width: 900px) {
display: flex; 
flex-direction: column-reverse;
gap: 40px;
      padding-top: 80px;
      padding-bottom: 40px;
    }
    @media (max-width: 600px) {
      padding: 80px 0 40px 0;
    }

    .formWrapper {
      background: var(--dark-surface-container-lowest);
 
      min-height: 719px;
      border-radius: 12px;
    }
    .orderSummaryWrapper {
      background: var(--dark-surface-container-lowest);
      position: sticky;
      top: 80px;
      border-radius: 12px;
    }
  }
}