.section { 
  grid-template-columns: 1fr 1fr;
  padding-top: 120px;
    gap: 80px;
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    gap: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .contact-form-wrapper {
    padding: 0 16px;
  }
  .hubspotWrapper {
    min-height: 690px;
  }
}