.section{ 
      align-items: center;
  gap: 8px;
  position: relative;

  .label {
    font-weight: 400;
    display: inline-block;
    position: relative;
    &:hover { 
&::after{ 
      content: "";
position: absolute;
width: 100%;
height: 2px;
background: white; 
bottom: 0;
left: 0; 
     }
  }
  }

  .svg {
      width: 20px;
      margin-left: 8px; 
      display: inline-block;
    }
  @media (max-width: 600px) {
    .label {
      font-size: 1rem;
    }
    .svg {
      width: 20px;
      margin-left: 16px; 
      display: inline-block;
    }
  }
}