.section{ 
        background: var(--dark-surface-container);
    padding: 24px 16px; 
    border: 1px solid var(--dark-outline-variant); 
    @media(max-width: 500px){ 
    .stepper-wrapper{ 
    display: none ;
}

}

.inputWrapper{ 
border-radius: 12px; 

    margin: 0 auto 0 auto; 
    @media(max-width: 500px){ 
        margin: 0 auto 0 auto;   
    }
    .Mui-error{ 
        color: var(--dark-error); 
        font-size: 1rem;
    }
}
}