.section{ 
    padding: 80px 0;
    background-color: var(--light-surface-container);
    @media (max-width: 900px) {
      padding: 40px 0;
    }
    .gridWrapper{ 
       grid-template-columns: 500px 1fr;
       @media(max-width: 1060px){ 
        grid-template-columns: 1fr;
        
       }
        .titleWrapper { 
             @media(max-width: 1060px){ 
        text-align: center;
        
       }
        }
    }
}